{% extends "base.html"%}

{% block title %} New Post {% endblock %}

{% block content%}

<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

<form action="/users/{{user.id}}/posts/new" method="post">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" class="form-control" type="text" placeholder="Post Title" aria-label="default input example">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" class="form-control" id="content" rows="3" placeholder="Post content"></textarea>
      </div>

    <div class="md-3">
        <a href="/users" class="btn btn-primary">Cancel</a>
    </div>
    <div class="md-3">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>


{%endblock%}