{% extends "base.html" %}

{% block title %} User Detail {% endblock %}
{% block content%}

<div class="card" style="width: 18rem;">
    <img src="{{user.image_url}}" class="card-img-top" alt="user image">
    <div class="card-body">
      <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
        <p class="card-text">
            <a href="/users/{{user.id}}/edit" class="btn btn-success">Edit User</a>
            <a href="/users/{{user.id}}/delete" class="btn btn-danger">Delete User</a>
        </p>
    </div>
  </div>



<h3> POSTS </h3>
    <ul>
        {% for post in user.posts %}
    
            <li><a href="/users/posts/{{post.id}}">{{post.title}}</a></li>
        {%endfor%}
    </ul>
    


<form action="/users/{{user.id}}/posts/new">
    <button>Add Post</button>
</form>


{%endblock%}