{% extends "base.html"%}

{% block title %} Edit User {% endblock %}
{% block content%}

<!-- modify the form with the db values -->
<form action="/users" method="post">
    <label for="first-name">{{user.first_name}}
        <input type="text" id="first-name" placeholder="Enter a first name">
    </label>
    <label for="last-name">{{user.last_name}}
        <input type="text" id="last-name" placeholder="Enter a last name">
    </label>
    <label for="image-url">{{user.image_url}}
        <input type="text" id="image-url" placeholder="Provide a url for an image">
    </label>
    
    <button>Save</button>
</form>

<form action="/users">cancel</form>
{%endblock%}

