{% extends "base.html"%}

{% block title %} New User {% endblock %}

{% block content%}
    <h1>Create A User</h1>

    <form action="/users/new" method="post">

        <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input name="first-name" class="form-control" type="text" placeholder="First Name" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input name="last-name" class="form-control" type="text" placeholder="Last Name" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="image-url" class="form-label">Url for photo</label>
            <input name="image-url" class="form-control" type="text" placeholder="Url for photo" aria-label="default input example">
        </div>
        <div class="md-3">
            <button class="btn btn-primary" type="submit">Create User</button>
        </div>
    </form>




{%endblock%}